<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Editor.Sprite2DEditor.SpriteSheetPacker.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup><userSettings>
        <Editor.Sprite2DEditor.SpriteSheetPacker.Settings>
            <setting name="MapExt" serializeAs="String">
                <value>txt</value>
            </setting>
            <setting name="ImageExt" serializeAs="String">
                <value>png</value>
            </setting>
            <setting name="PowOf2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Square" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxWidth" serializeAs="String">
                <value>4096</value>
            </setting>
            <setting name="MaxHeight" serializeAs="String">
                <value>4096</value>
            </setting>
            <setting name="Padding" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GenerateMap" serializeAs="String">
                <value>True</value>
            </setting>
        </Editor.Sprite2DEditor.SpriteSheetPacker.Settings>
    </userSettings>
</configuration>
